<h1>Nearest City Location</h1>


<form action="/home/find_nearest_city" method="get">
  <div>
    <input id="ip" type="text" name="ip"/>
  </div>
  <input id="submit" type="submit" value="Calculate"/>
</form>
<div style="margin-top:10px">
  <span style="margin-right:2px">Nearest City:</span>
  <% if @nearest_city %>
    <span style="font-weight:bold"><%= @nearest_city.name %></span>
    <%= GMap.header %>
    <%= @map.to_html %>
    <%= @map.div(:width => 600, :height => 400) %>
  <% else %>
    <span style="font-weight:bold">Unknown IP</span>
  <% end %>
</div>